# SPDX-PackageName: turku-agent
# SPDX-PackageSupplier: Ryan Finnie <ryan@finnie.org>
# SPDX-PackageDownloadLocation: https://github.com/rfinnie/turku-agent
# SPDX-FileCopyrightText: © 2015 Canonical Ltd.
# SPDX-FileCopyrightText: © 2015 Ryan Finnie <ryan@finnie.org>
# SPDX-License-Identifier: GPL-3.0-or-later
include Makefile
include README.md
include LICENSE.md
include tox.ini
include turku-agent.cron
include turku-agent-ping
include turku-agent-ping.service
include turku-agent-ping.timer
include turku-update-config
include turku-update-config.service
include turku-update-config.timer
