include Makefile
include README.md
include requirements.txt
include tests/*.py
include tox.ini
include turku-agent.cron
include turku-agent-ping
include turku-agent-ping.service
include turku-agent-ping.timer
include turku-update-config
include turku-update-config.service
include turku-update-config.timer
