[Unit]
Description=turku rsyncd daemon
ConditionPathExists=/var/lib/turku-agent/rsyncd.conf

[Service]
ExecStart=/usr/bin/env turku-agent-rsyncd-wrapper
Restart=always

[Install]
WantedBy=multi-user.target
