[Unit]
Description=turku-agent-ping
DefaultDependencies=no
Wants=network-online.target
After=network-online.target
After=time-sync.target

[Timer]
OnCalendar=*:0/5
RandomizedDelaySec=5m
Persistent=true

[Install]
WantedBy=timers.target
